# Default values for homepage
replicaCount: 1

image:
  repository: ghcr.io/gethomepage/homepage
  pullPolicy: IfNotPresent
  tag: "v1.9.0"

nameOverride: ""
fullnameOverride: ""

service:
  type: ClusterIP
  port: 3000

ingress:
  enabled: true
  className: nginx
  annotations:
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
  hosts:
    - host: homepage.lab1830.com
      paths:
        - path: /
          pathType: Prefix
  tls: []

resources:
  requests:
    cpu: 50m
    memory: 64Mi
  limits:
    cpu: 200m
    memory: 256Mi

nodeSelector: {}
tolerations: []
affinity: {}
env: []

podDisruptionBudget:
  enabled: false
  minAvailable: 1
  # maxUnavailable: 1
# Homepage configuration
config:
  # This will be mounted as configmaps
  bookmarks: {}
  services: {}
  widgets: {}
  kubernetes: {}
  settings: {}
