kyverno:
  admissionController:
    replicas: 1
  backgroundController:
    replicas: 1
  cleanupController:
    replicas: 1
  reportsController:
    replicas: 1
  cleanupJobs:
    admissionReports:
      image:
        registry: ghcr.io
        repository: kyverno/kubectl
        tag: "latest"
    clusterAdmissionReports:
      image:
        registry: ghcr.io
        repository: kyverno/kubectl
        tag: "latest"

policy-reporter:
  ui:
    enabled: true
    ingress:
      enabled: true
      className: nginx
      hosts:
        - host: kyverno-staging.lab1830.com
          paths:
            - path: /
              pathType: Prefix
  kyvernoPlugin:
    enabled: true
  metrics:
    enabled: true
